<div class="content-wrapper">
  <div class="catalog-dashboard-container box-shadow">
    <div class="row col-sm-12">
      <h2>Catalog Dashboard</h2>
      <div class="border light-grey mb-2"></div>

      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Reward Redeem Statistic" class="mx-3">
          <div class="p-3">
            <app-reward-statistic></app-reward-statistic>
          </div>
        </mat-tab>

        <mat-tab label="Catalog Management" class="mx-3">
          <div class="p-3">
            <app-catalog-management></app-catalog-management>
          </div>
        </mat-tab>

        <mat-tab label="Category Management" class="mx-3">
          <div class="p-3">
            <app-category-management></app-category-management>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
