<div class="modal-header">
  <div class="d-flex col-sm-12 justify-content-between">
    <h2 class="ms-2">Change Password</h2>
    <button class="btn-icon" (click)="closeDialog()">
      <i class="bi bi-x-lg close-icon mb-2"></i>
    </button>
  </div>
</div>

<div class="border light-grey"></div>

<div class="modal-content my-3">
  <form [formGroup]="changePasswordFg" class="col-sm-12">
    <div class="row col-sm-12 justify-content-center">
      <div class="d-flex">
        <label for="oldPassword"
          ><strong
            >Old Password<span class="text-danger">*</span>:</strong
          ></label
        >
        <div class="d-flex flex-column col-sm-9 ms-2">
          <input
            class="col-sm-7"
            type="password"
            formControlName="oldPassword"
            placeholder="Enter Old Password"
          />
          <ng-container
            *ngIf="
              !changePasswordFg.get('oldPassword').pristine &&
              changePasswordFg.get('oldPassword').invalid
            "
          >
            <div *ngFor="let validate of validateMessages.oldPassword">
              <span class="text-danger text-justify">
                {{ validate.message }}</span
              >
            </div>
          </ng-container>
        </div>
      </div>

      <div class="d-flex mt-2">
        <label for="newPassword"
          ><strong
            >New Password<span class="text-danger">*</span>:</strong
          ></label
        >
        <div class="d-flex flex-column col-sm-9 ms-2">
          <input
            class="col-sm-7"
            type="password"
            formControlName="newPassword"
            placeholder="Enter New Password"
          />
          <ng-container
            *ngIf="
              !changePasswordFg.get('newPassword').pristine &&
              changePasswordFg.get('newPassword').invalid
            "
          >
            <div *ngFor="let validate of validateMessages.newPassword">
              <span class="text-danger text-justify">
                <ng-container *ngIf="changePasswordFg.get('newPassword').getError('required') && validate.type.match('required')"> {{ validate.message }}</ng-container>
                <ng-container *ngIf="changePasswordFg.get('newPassword').getError('pattern') && validate.type.match('pattern')"> {{ validate.message }}</ng-container>
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="border light-grey"></div>

<div class="modal-footer">
  <div class="d-flex col-sm-12 justify-content-end mt-2">
    <button class="btn-cancel me-2" (click)="closeDialog()">Cancel</button>
    <button
      class="btn-input"
      [disabled]="isSubmitDisabled"
      (click)="submitForm()"
    >
      Save
    </button>
  </div>
</div>
