@import "../../../../../styles.scss";

.new-recognition-container{
  width: 70%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 3px;
}