<div class="modal-header">
  <div class="d-flex col-sm-12 justify-content-between">
    <h2 class="ms-2">
      <ng-container *ngIf="isAdd">New Reward</ng-container>
      <ng-container *ngIf="isEdit">Edit Reward</ng-container>
      <ng-container *ngIf="isDelete">Delete Reward</ng-container>
    </h2>
    <button class="btn-icon" (click)="closeDialog()">
      <i class="bi bi-x-lg close-icon mb-2"></i>
    </button>
  </div>
</div>

<div class="border light-grey"></div>

<div class="modal-content my-3">
  <ng-container *ngIf="isDelete">
    <p>Are you sure you want to delete this reward?</p>
    <strong>{{ reward.name }}</strong>
  </ng-container>
  <ng-container *ngIf="!isDelete">
    <form [formGroup]="inputRewardFg" class="col-sm-12">
      <div class="row col-sm-12 justify-content-center">
        <div class="d-flex">
          <label for="name"
            ><strong
              >Reward Name<span class="text-danger">*</span>:</strong
            ></label
          >
          <div class="d-flex flex-column col-sm-9 ms-2">
            <input
              class="col-sm-7"
              type="text"
              formControlName="name"
              placeholder="Enter Reward name"
            />
            <ng-container
              *ngIf="
                inputRewardFg.get('name').touched &&
                inputRewardFg.get('name').invalid
              "
            >
              <div *ngFor="let validate of validateMessages.name">
                <span class="text-danger text-justify">{{
                  validate.message
                }}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="d-flex col-sm-12 mt-2">
          <label for="description"
            ><strong
              >Description<span class="text-danger">*</span>:</strong
            ></label
          >
          <div class="d-flex flex-column col-sm-7 ms-2">
            <textarea
              class="col-sm-9 row-sm-10"
              type="text"
              formControlName="description"
              placeholder="Enter Recognition Description"
            ></textarea>
            <ng-container
              *ngIf="
                inputRewardFg.get('description').touched &&
                inputRewardFg.get('description').invalid
              "
            >
              <div *ngFor="let validate of validateMessages.description">
                <span class="text-danger text-justify">{{
                  validate.message
                }}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="d-flex mt-2">
          <label for="category"
            ><strong
              >Reward Category<span class="text-danger">*</span>:</strong
            ></label
          >
          <div
            class="d-flex flex-column col-sm-4 ms-2"
            placement="bottom"
            ngbDropdown
          >
            <button class="dropdown-container" id="category" ngbDropdownToggle>
              <div class="d-flex justify-content-between align-items-center">
                <span>{{
                  inputRewardFg.get("category").value != null
                    ? inputRewardFg.get("category").value.name
                    : null
                }}</span>
                <i class="bi bi-caret-down-fill dropdown-icon"></i>
              </div>
            </button>
            <div ngbDropdownMenu aria-labelledby="category">
              <div class="dropdown-content-container">
                <button
                  class="custom-dropdown"
                  *ngFor="let category of categories"
                  (click)="selectCategory(category)"
                  ngbDropdownItem
                >
                  {{ category.name }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex col-sm-12 mt-2">
          <div class="d-flex col-sm-5">
            <label for="points"
              ><strong
                >Reward Points<span class="text-danger">*</span>:</strong
              ></label
            >
            <div class="d-flex flex-column col-sm-7 ms-2">
              <input
                class="col-sm-7"
                type="number"
                formControlName="points"
                placeholder="Enter Reward points"
              />
              <ng-container
                *ngIf="
                  inputRewardFg.get('points').touched &&
                  inputRewardFg.get('points').invalid
                "
              >
                <div *ngFor="let validate of validateMessages.points">
                  <span class="text-danger text-justify">{{
                    validate.message
                  }}</span>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="d-flex col-sm-5">
            <label for="quantity"
              ><strong
                >Quantity<span class="text-danger">*</span>:</strong
              ></label
            >
            <div class="d-flex flex-column col-sm-7 ms-2">
              <input
                class="col-sm-7"
                type="number"
                formControlName="quantity"
                placeholder="Enter quantity"
              />
              <ng-container
                *ngIf="
                  inputRewardFg.get('quantity').touched &&
                  inputRewardFg.get('quantity').invalid
                "
              >
                <div *ngFor="let validate of validateMessages.quantity">
                  <span class="text-danger text-justify">{{
                    validate.message
                  }}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="d-flex col-sm-12">
          <div class="col-sm-4 d-flex flex-row align-items-start mt-2 me-2">
            <label for="limited"
              ><strong
                >Reward Limited<span class="text-danger">*</span>:</strong
              ></label
            >
            <div
              class="d-flex col-sm-4 flex-column ms-2"
              placement="bottom"
              ngbDropdown
            >
              <button class="dropdown-container" id="limited" ngbDropdownToggle>
                <div class="d-flex justify-content-between align-items-center">
                  <span>{{ isLimited ? "Yes" : "No" }}</span>
                  <i class="bi bi-caret-down-fill dropdown-icon"></i>
                </div>
              </button>
              <div ngbDropdownMenu aria-labelledby="limited">
                <div class="dropdown-content-container">
                  <button
                    class="custom-dropdown"
                    (click)="setLimited(true)"
                    ngbDropdownItem
                  >
                    Yes
                  </button>
                  <button
                    class="custom-dropdown"
                    (click)="setLimited(false)"
                    ngbDropdownItem
                  >
                    No
                  </button>
                </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="isLimited">
            <div class="d-flex flex-row col-sm-8 mt-2">
              <label for="limitedTime"
                ><strong
                  >Limited Time<span class="text-danger">*</span>:</strong
                ></label
              >
              <div class="d-flex flex-column">
                <div>
                  <input
                    matInput
                    class="ms-2"
                    type="datetime-local"
                    formControlName="limitedTime"
                    placeholder="Select Limited Time Until"
                  />
                </div>

                <ng-container
                  *ngIf="
                    !inputRewardFg.get('limitedTime').pristine &&
                    inputRewardFg.get('limitedTime').invalid
                  "
                >
                  <div *ngFor="let validate of validateMessages.limitedTime">
                    <span class="text-danger text-justify">
                      <ng-container
                        *ngIf="
                          inputRewardFg
                            .get('limitedTime')
                            .getError('required') &&
                          validate.type.match('required')
                        "
                      ></ng-container>
                      <ng-container
                        *ngIf="
                          inputRewardFg
                            .get('limitedTime')
                            .getError('minTime') &&
                          validate.type.match('minTime')
                        "
                      ></ng-container>
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="d-flex col-sm-12 mt-2">
          <label for="image"><strong>Reward Image:</strong></label>
          <div class="ms-2">
            <input
              type="file"
              (change)="uploadImage($event)"
              [value]="fileName"
              accept="image/*"
            />
          </div>
          <button class="btn-input col-sm-2 ms-2" (click)="clearImage()">
            Remove
          </button>
        </div>

        <ng-container *ngIf="imageUrl">
          <div class="d-flex col-sm-12 mt-2">
            <label for="iamge-preview"><strong>Image Preview: </strong></label>
            <img src="{{ imageUrl }}" class="reward-image ms-2" />
          </div>
        </ng-container>
      </div>
    </form>
  </ng-container>
</div>

<div class="border light-grey"></div>

<div class="modal-footer">
  <div class="d-flex col-sm-12 justify-content-end mt-2">
    <button class="btn-cancel me-2" (click)="closeDialog()">Cancel</button>
    <button
      class="btn-input"
      [ngClass]="{ 'btn-delete': isDelete }"
      [disabled]="isSubmitDisabled"
      (click)="submitForm()"
    >
      <ng-container *ngIf="isAdd">Submit</ng-container>
      <ng-container *ngIf="isEdit">Save</ng-container>
      <ng-container *ngIf="isDelete">Delete</ng-container>
    </button>
  </div>
</div>
