<div class="modal-header">
  <div class="d-flex col-sm-12 justify-content-between">
    <h2 class="ms-2">Update Profile</h2>
    <button class="btn-icon" (click)="closeDialog()">
      <i class="bi bi-x-lg close-icon mb-2"></i>
    </button>
  </div>
</div>

<div class="border light-grey"></div>

<div class="modal-content my-3">
  <form [formGroup]="updateProfileFg" class="col-sm-12">
    <div class="row col-sm-12 justify-content-center">
      <div class="d-flex">
        <label for="name"
          ><strong>Full Name<span class="text-danger">*</span>:</strong></label
        >
        <div class="d-flex flex-column col-sm-9 ms-2">
          <input
            class="col-sm-7"
            type="text"
            formControlName="name"
            placeholder="Enter Full Name"
          />
          <ng-container
            *ngIf="
              !updateProfileFg.get('name').pristine &&
              updateProfileFg.get('name').invalid
            "
          >
            <div *ngFor="let validate of validateMessages.name">
              <span class="text-danger text-justify">{{
                validate.message
              }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <ng-container *ngIf="userData.type == 'admin' && userData.id != userId">
        <div class="d-flex mt-2">
          <label for="type"
            ><strong
              >User Type<span class="text-danger">*</span>:</strong
            ></label
          >
          <div class="d-flex flex-column col-sm-4 ms-2" ngbDropdown>
            <button
              class="dropdown-container"
              type="text"
              ngbDropdownToggle
            >
              <div class="d-flex justify-content-between align-items-center">
                <span>{{
                  updateProfileFg.get("type").value | titlecase
                }}</span>
                <i class="bi bi-caret-down-fill dropdown-icon"></i>
              </div>
            </button>
            <div ngbDropdownMenu aria-labelledby="type">
              <button
                class="custom-dropdown"
                *ngFor="let type of userTypeList"
                (click)="selectType(type)"
                ngbDropdownItem
              >
                {{ type.toUpperCase() }}
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="d-flex mt-2">
        <label for="position"
          ><strong>Position<span class="text-danger">*</span>:</strong></label
        >
        <div class="d-flex flex-column col-sm-9 ms-2">
          <input
            class="col-sm-7"
            type="text"
            formControlName="position"
            placeholder="Enter Position"
          />
          <ng-container
            *ngIf="
              !updateProfileFg.get('position').pristine &&
              updateProfileFg.get('position').invalid
            "
          >
            <div *ngFor="let validate of validateMessages.position">
              <span class="text-danger text-justify">{{
                validate.message
              }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="d-flex mt-2">
        <label for="department"
          ><strong>Department<span class="text-danger">*</span>:</strong></label
        >
        <div class="d-flex flex-column col-sm-9 ms-2">
          <input
            class="col-sm-7"
            type="text"
            formControlName="department"
            placeholder="Enter Department"
          />
          <ng-container
            *ngIf="
              !updateProfileFg.get('department').pristine &&
              updateProfileFg.get('department').invalid
            "
          >
            <div *ngFor="let validate of validateMessages.department">
              <span class="text-danger text-justify">{{
                validate.message
              }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="d-flex mt-2">
        <label for="contact"><strong>Contact Number:</strong></label>
        <div class="d-flex flex-column col-sm-9 ms-2">
          <input
            class="col-sm-7"
            type="number"
            formControlName="contact"
            placeholder="Enter Contact Number"
          />
          <ng-container
            *ngIf="
              !updateProfileFg.get('contact').pristine &&
              updateProfileFg.get('contact').invalid
            "
          >
          </ng-container>
        </div>
      </div>

      <div class="d-flex mt-2">
        <label for="address"><strong>Address:</strong></label>
        <div class="d-flex flex-column col-sm-9 row-sm-4 ms-2">
          <textarea
            class="col-sm-10"
            type="text"
            formControlName="address"
            placeholder="Enter Home Address"
          >
          </textarea>
          <ng-container
            *ngIf="
              !updateProfileFg.get('address').pristine &&
              updateProfileFg.get('address').invalid
            "
          >
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="border light-grey"></div>

<div class="modal-footer">
  <div class="d-flex col-sm-12 justify-content-end mt-2">
    <button class="btn-cancel me-2" (click)="closeDialog()">Cancel</button>
    <button
      class="btn-input"
      [disabled]="isSubmitDisabled"
      (click)="submitForm()"
    >
      Save
    </button>
  </div>
</div>
