@import '../../../../styles.scss';

.header-container{
  position: sticky;
  top: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 15px;
  padding-block: 7px;
  color: white;
  z-index: 2;
}

.logo{
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
}

.nav-link{
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
  border: none;
}

.nav-link:hover{
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 22px;
  text-decoration: underline;
  border: none;
}

.active-nav-link{
  background-color: white;
  color: #004d96;
  padding: 5px;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  border: none;
}

.active-nav-link:hover{
  background-color: white;
  color: #003363;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  text-decoration: underline;
  border: none;
}

.nav-btn{
  background-color: transparent;
  color: white;
  padding: 7px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  text-align: center;
  height: 70%;
  margin: auto 0;
}

.nav-btn:hover {
  background-color: white;
  color: #004d96;
  padding: 7px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  text-align: center;
  height: 70%;
  margin: auto 0;
}

.profile-btn, .profile-btn:hover{
  background-color: transparent;
  padding: 7px;
  border: none;
  height: 70%;
  margin: auto 0;
}

.profile-btn{
  color: white;
}

.profile-btn:hover, .profile-btn:active{
  color: #004d96;
}

.profile-container:hover{
  background-color: white;
}