<div class="content-wrapper">
  <div class="contact-support-container box-shadow">
    <div class="d-flex flex-row justify-content-start col-sm-12">
      <button class="btn-link" (click)="_location.back()"><i class="bi bi-arrow-left me-1"></i>Back to Previous Page</button>
    </div>
    
    <div class="col-sm-12 mt-5">
      <p><i class="bi bi-envelope-fill red me-1"></i>Email support at: <span class="btn-link">{{supportEmail}}</span></p>
      <p><i class="bi bi-telephone-fill red me-1"></i>Or call the Hotline at: <span class="btn-link">{{supportContact}}</span></p>
    </div>
  </div>
</div>
